$color-white: #ffffff;
$color-green: #489d48;
$color-green-nav-btn: #479C47;
$color-home-products-background: #F4F4F4;

//home
$card-text-color-black:#040404;
$card-text-color-green:#1A9F3B;
$card-btn-bg:#F3C150;
$card-btn-txt:#1B1B1B;
$dha-radio-btn:#898989;


//header
$slider-bg-1: #479c47e6;
$slider-bg-2: rgba(243, 193, 80, 0.85);

//footer
$footer-bg-color:#3B7F48;
$footer-txt-color:#FBF9F4;
$footer-border-bottom:#d6f39c80;

//omega
$color-green-info-txt:#479C48;

//history
$li-color-black:#1B1B1B;
$radio-btn:#8CCF9D;
$radio-btn-active:#1A9F3B;
$history-content-color:#D6F39C;

//faq border
$faq-border:#3b7f4880;


//contact
$custom-option-txt:#828282;
$custom-select-hover-bg:#F3F8F5;

//add to cart
$amount-border:#C4C4C4;

//shop
$color-breadcrumbs-li:#979797;
$color-not-available:#D35B53;

//cart
$form-label-color:#8F8F8F;
$form-bg:#FAFAFA;

//crud
$color-remove-btn: #DE2942;
$color-edit-btn: #EB901A;
