.margin-medium-top{
    margin-top: 5.6rem;
}
.margin-big-top{
    margin-top: 10rem;
}
.margin-small-bottom{
    margin-bottom: 4rem;
}
.margin-medium-bottom{
    margin-bottom: 5.6rem;
}
.margin-big-bottom{
    margin-bottom: 10rem;
}
.margin-great-bottom{
    margin-bottom: 14rem;
}