//Section 1 - omega row
.omega_info{
    background-color: $color-home-products-background;
    &--row{
        font-size: 1.4rem;
        padding:10rem 0;
        margin: 0 auto;
        width: 80vw;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5%;   
             & p{
                @include fluid-type (320px,1960px,13px,16px);
            } 
    }
}
.info_row{
    
    &--col1, &--col3{

         & p{            
            &:not(:last-child){
                padding-bottom: 2rem;
                color:$color-green-nav-btn;
                font-weight: 600;    
            }
            &:last-child{
                font-weight: 400;
            }
        }
    }
}

//section 2 - info stickers
.info_stickers{


    &--wrapper{
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
    }
    &--row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & div{
            text-align: center;
            margin: 0 auto;
            min-width: 150px;
            max-width: 200px;
            display: block;
            
            & span{
                display:inline-block;
                margin-top:.7em;
                font-weight: 600;
                @include fluid-type (320px,1960px,12px,14px);

            }
        }
    }   
}
#sticker_headline{
    width: 90%;
    max-width:1100px ;
    font-weight: 600;
    @include fluid-type (320px,1960px,16px,54px);
    color:$color-green-nav-btn;
    padding: 4rem 4rem 11rem 4rem;
}

//Section 3 - omega info grid
.omega_info--card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50rem;
}
.info{
    &_content{
        background-color: $color-home-products-background;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        & p{
            width: 60%;
            max-width: 550px;
            margin: 0 auto;
            &:first-child{
                padding-bottom: 2.5rem;
                font-weight: 600;
                @include fluid-type (320px,1960px,18px,28px);
                color: $color-green-info-txt;
            }
            &:last-child{
                font-weight: 400;
                @include fluid-type (320px,1960px,12px,16px);
            }
        }
    }
    &_img{
        background: url('../Design/omega/fish.png') no-repeat left / cover;
    }
}
